<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',path="/output.css")}}" rel="stylesheet">
    <title>MyoMouse</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path="/logo.png") }}">

</head>
<body class="bg-black" style="box-sizing: border-box">
<div class="content " style="box-sizing: border-box; overflow-y: hidden">
    <div class="h-16 items-center flex flex-row mt-2 relative">
        <img src="{{ url_for('static',path="/logo.png")}}" class="z-0 logo ml-0 xl:ml-64 w-8 h-8" style="width: 4rem; height: 4rem"/>
        <div class="absolute right-0 ml-0 z-1 gradient-bg-pink"></div>
        <nav class="hidden sm:inline-flex flex-row  items-center justify-end absolute right-0 z-10" style="justify-self: flex-end">
            <a class="xl:text-base text-white mr-10 hover:underline" href="#how-it-works">{{ How_it_works }}</a>
            <a class="xl:text-base text-white mr-10 hover:underline" href="#application-area">{{ Application_area }}</a>
            <a class="xl:text-base text-white mr-10 hover:underline" href="#how_it_possible">{{ How_it_possible }}</a>
            <a class="xl:text-base text-white mr-10  hover:underline" href="#our-team">{{ Our_team }}</a>
            <a class="xl:text-base text-white mr-10  hover:underline" href="#integrations">{{ Integrations }}</a>
            <div class="mr-10 hover:underline"  style="width: 24px; height: 0px; border: 1px solid #FFFFFF;transform: rotate(90deg); background-color: white"></div>
            <button class="text-white flex flex-row mr-40 items-center hover:animate-pulse">
                <img class="mr-2.5" src="{{ url_for('static', path='Vector%20(6).svg')}}"/>
                <a href="{{ other_language_ref }}" class="xl:text-base text-white hover:underline">{{ other_language }}</a>
            </button>
        </nav>
    </div>
    <section id="home" class="z-0  items-center">
        <div class=" flex flex-col sm:flex-row mt-0 sm:mt-5 items-center lg:ml-32  xl:ml-64 xl:mr-64 ">
            <div class=" lg:w-1/2 flex flex-col z-10 lg:items-baseline items-center justify-center lg:ml-20">
                <h1 class="text-left text-5xl xl:text-8xl text-white font-bold z-10">MyoMouse</h1>
                <p class="text-center sm:text-left w-full text-base 2xl:text-base text-white mt-7 p-0">{{ Main_description }}</p>
                <button class="w-32 h-7 xl:w-32 xl:h-11 mt-10 button-gradient hover:bg-transparent items-center justify-center" >
                    <a href="#form_section" class="text-sm xl:text-base animate-pulse hover:text-white text-custom-blue ">
                        {{ order }}
                    </a>
                </button>
            </div>
            <div class="flex flex-col items-center">
                <div class="flex flex-row">
                    <div class="mt-0  mr-25" id="canvas_wrapper">
                        <div id="loading_status_wrapper" class="flex flex-col items-center justify-center">
                            <p class="text-white">{{ loading_text }}</p>
                            <progress id="loading_status" max="100" value="0" style="border-radius: 10px; width: 80%; "></progress>
                        </div>
                    </div>
                    <div class="flex flex-col z-10 align-middle items-center justify-center lg:mb-24">
                        <button id="white-band-button" class="bg-white mt-2" style="border-radius: 10px; width: 20px; height: 20px"></button>
                        <button id="grey-band-button" class="mt-2" style=" background-color: #9e9e9e; border-radius: 10px; width: 20px; height: 20px"></button>
                        <button id="black-band-button" class="bg-white mt-2" style="background-color: #212121; border-radius: 10px; width: 20px; height: 20px"></button>
                        <button id="blue-band-button" class="bg-white mt-2" style="background-color: #3f51b5; border-radius: 10px; width: 20px; height: 20px"></button>
                        <button id="green-band-button" class="bg-white mt-2" style="background-color: #4caf50; border-radius: 10px; width: 20px; height: 20px"></button>
                        <button id="red-band-button" class="bg-white mt-2" style="background-color: #f44336; border-radius: 10px; width: 20px; height: 20px"></button>
                        <button id="orange-band-button" class="bg-white mt-2" style="background-color: #ff5722; border-radius: 10px; width: 20px; height: 20px"></button>
                        <button id="yellow-band-button" class="bg-white mt-2" style="background-color: #fbc02d; border-radius: 10px; width: 20px; height: 20px"></button>
                    </div>
                </div>
                <div class="flex flex-row justify-between content-between z-10 bottom-0 lg:bottom-1/3">
                    <button id="white-line-button" class="bg-white mr-2" style="border-radius: 10px; width: 20px; height: 20px"></button>
                    <button id="grey-line-button" class="mr-2" style=" background-color: #9e9e9e; border-radius: 10px; width: 20px; height: 20px"></button>
                    <button id="black-line-button" class="bg-white mr-2" style="background-color: #212121; border-radius: 10px; width: 20px; height: 20px"></button>
                    <button id="blue-line-button" class="bg-white mr-2" style="background-color: #3f51b5; border-radius: 10px; width: 20px; height: 20px"></button>
                    <button id="green-line-button" class="bg-white mr-2" style="background-color: #4caf50; border-radius: 10px; width: 20px; height: 20px"></button>
                    <button id="red-line-button" class="bg-white mr-2" style="background-color: #f44336; border-radius: 10px; width: 20px; height: 20px"></button>
                    <button id="orange-line-button" class="bg-white mr-2" style="background-color: #ff5722; border-radius: 10px; width: 20px; height: 20px"></button>
                    <button id="yellow-line-button" class="bg-white mr-2" style="background-color: #fbc02d; border-radius: 10px; width: 20px; height: 20px"></button>
                </div>
            </div>
        </div>
        <a class=" lg:flex hidden 2xl:mt-60 absolute bottom-2 xl:bottom-10 animate-bounce" href="#how-it-works">
            <img class="" src="{{ url_for('static',path='Arrow%202.svg')}}"/>
        </a>
    </section>
    <section id="how-it-works">
        <h2 class="text-white mt-10 absolute z-10">{{ How_it_works }}</h2>
        <div class="gradient-bg-blue z-10"></div>
        <p class=" absolute mt-32 text-white text-center w-3/4 lg:w-1/2 z-10">{{ How_it_works_descr }}
        </p>
<!--        <div id="canvas-wrapper" style="" class="items-center w-1/2 h-screen mt-72">-->
<!--            <canvas class="ml-0 2xl:ml-0 w-1/2"  id="hero-lightpass"></canvas>-->
<!--        </div>-->
        <img src="../static/mm.png" class="mt-10 absolute -z-1" style="width: 30rem; height: 30rem; opacity: 0.5">
    </section>
    <section id="application-area" class="h-fit relative ">
        <h2 class=" mt-10 text-white z-10">{{ Application_area }}</h2>
        <div class="gradient-bg-pink z-1 absolute right-0"></div>
        <div class=" hidden lg:grid lg:grid-cols-2 gap-6 2xl:gap-44 mt-10 2xl:mt-40 lg:ml-24 2xl:ml-32 lg:mr-32 items-center">
            <div class=" flex flex-col items-center justify-center lg:items-start">
                <h3 class="text-white">{{ Use_as_mouse }}</h3>
                <p class=" mt-10 text-white">{{ Application_area_descr }}</p>
            </div>
            <iframe class="w-full z-10" width="560" height="315" src="https://www.youtube.com/embed/KVuQVTFDcEc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class="w-full z-10" width="560" height="315" src="https://www.youtube.com/embed/LKMlw2pHpDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class=" flex flex-col items-center justify-center lg:items-start">
                <h3 class="text-white z-10">{{ UAV_Control }}</h3>
                <p class="mt-10 text-white w-3/4 xl:w-full text-center lg:text-left z-10">{{ UAV_Control_descr }}</p>
            </div>
            <div>
                <h3 class="text-white">{{ UGV_control }}</h3>
                <p class="mt-10 text-white">{{ UGV_control_descr }}</p>
            </div>
            <iframe width="560" class="w-full" height="315" src="https://www.youtube.com/embed/2ka9743pCmM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class=" lg:hidden w-full z-10 ">
            <div class="flex flex-col items-center z-10 mr-2 ml-2">
                <div class="flex flex-col items-center z-10">
                    <h3 class=" mt-10 text-white text-center">{{ Use_as_mouse }}</h3>
                    <p class="mt-10 text-white w-full">{{ Application_area_descr }}</p>
                </div>
                <iframe class="w-full mt-10" style="height: 20rem" width="560" height="315" src="https://www.youtube.com/embed/LKMlw2pHpDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="flex flex-col items-center z-10 mt-20 mr-2 ml-2">
                <div class="flex flex-col items-center z-10">
                    <h3 class="text-white text-center">{{ UAV_Control }}</h3>
                    <p class="mt-10 text-white w-full">{{ UAV_Control_descr }}</p>
                </div>
                <iframe class="w-full mt-10" style="height: 20rem" width="560" height="315" src="https://www.youtube.com/embed/LKMlw2pHpDM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="flex flex-col items-center z-10 mt-20 mr-2 ml-2">
                <div class="flex flex-col items-center z-10">
                    <h3 class="text-white text-center">{{ UGV_control }}</h3>
                    <p class=" mt-10 text-white text-center">{{ UGV_control_descr }}</p>
                </div>
                <iframe class="w-full mt-10" style="height: 20rem" src="https://www.youtube.com/embed/2ka9743pCmM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section id="how_it_possible" class="lg:h-fit relative mt-20  items-center">
        <h2 class="2xl:mt-32 text-white h-1/3 z-10 text-center">{{ How_it_possible }}</h2>
        <div class="absolute gradient-bg-blue z-10"></div>
        <div class="flex flex-col ml-2 mr-2 mt-10 mt-20 lg:ml-20 2xl:ml-32 lg:mr-24 items-center">
            <h3 class=" mt-10 w-1/2 text-white text-left">{{ How_it_possible_subheader1 }}</h3>
            <p class="mt-5 text-white w-1/2 z-10" style="white-space: pre-wrap;">{{ How_it_possible_descr1 }}
        </div>
        <div class="flex flex-col ml-2 mr-2 lg:ml-20 2xl:ml-32 lg:mr-24 items-center">
            <h3 class=" mt-10 w-1/2 text-white">{{ How_it_possible_subheader2 }}</h3>
            <p class=" mt-5 text-white w-1/2 z-10" style="white-space: pre-wrap;">{{ How_it_possible_descr2 }}
        </div>
    </section>
    <section id="integrations" class="h-fit relative  mt-20  items-center">
        <h2 class="2xl:mt-32 mt-20 text-white h-1/3 z-10 text-center">{{ Integrations }}</h2>
        <div class=" hidden lg:grid lg:grid-cols-2 gap-6 2xl:gap-44 mt-10 2xl:mt-40 lg:ml-24 2xl:ml-32 lg:mr-32 items-center">
            <div>
                <h3 class="text-white text-center">{{ Help_for_citizens }}</h3>
                <p class="mt-10 text-white w-full z-10">{{ Help_for_citizens_descr }}</p>
            </div>
            <div></div>
            <div></div>
            <div>
                <h3 class="text-white text-center">{{ SmartHouse }}</h3>
                <p class="mt-10 text-white w-full z-10">{{ SmartHouse_descr }}</p>
            </div>
            <div>
                <h3 class="text-white text-center">{{ Neuroprogramming }}</h3>
            </div>
            <div></div>
            <div></div>
            <div>
                <h3 class="text-white text-center">{{ GammingInterface }}</h3>
            </div>
            <div>
                <h3 class="text-white text-center">{{ VRWork }}</h3>
            </div>
            <div></div>
            <div></div>
            <div>
                <h3 class="text-white text-center">{{ Exhibition_and_shows }}</h3>
            </div>
            <div>
                <h3 class="text-white text-center">{{ Business_robots }}</h3>
            </div>
            <div></div>

        </div>
        <div class=" lg:hidden w-full z-10 ">
            <div class="flex flex-col items-center text-center z-10 mr-2 ml-2 mt-10">
                <div class="text-center">
                    <h3 class="text-white text-center">{{ Help_for_citizens }}</h3>
                    <p class="mt-10 text-white w-full z-10">{{ Help_for_citizens_descr }}</p>
                </div>
            </div>
            <div class="flex flex-col items-center z-10 mt-10 mr-2 ml-2">
                <div class="text-center">
                    <h3 class="text-white text-center">{{ SmartHouse }}</h3>
                    <p class="mt-10 text-white w-full z-10">{{ SmartHouse_descr }}</p>
                </div>
            </div>
            <div class="flex flex-col items-center z-10 mt-10 mr-2 ml-2">
                <div class="text-center">
                    <h3 class="text-white text-center">{{ Neuroprogramming }}</h3>

                </div>
            </div>
            <div class="flex flex-col items-center z-10 mt-10 mr-2 ml-2">
                <div class="text-center">
                    <h3 class="text-white text-center">{{ GammingInterface }}</h3>

                </div>
            </div>
            <div class="flex flex-col items-center z-10 mt-10 mr-2 ml-2">
                <div class="text-center">
                    <h3 class="text-white text-center">{{ VRWork }}</h3>

                </div>
            </div>
            <div class="flex flex-col items-center z-10 mt-10 mr-2 ml-2">
                <div class="text-center">
                    <h3 class="text-white text-center">{{ Exhibition_and_shows }}</h3>

                </div>
            </div>
            <div class="flex flex-col items-center z-10 mt-10 mr-2 ml-2">
                <div class="text-center">
                    <h3 class="text-white text-center">{{ Business_robots }}</h3>

                </div>
            </div>
        </div>
    </section>
    <section id="our-team"  class="flex flex-col relative mt-32 pb-20 lg:h-fit ">
        <h2 class=" mt-10 text-white z-10 text-center" style="text-align: center;">{{ Our_team }}</h2>
        <div class="grid grid-cols-2 xl:mt-20 xl:grid-cols-3 mt-5 2xl:gap-32 gap-10 2xl:h-fit 2xl:mt-20 2xl:mt-44 z-10">
            <div class="team-member items-center justify-center align-middle flex flex-col">
                <img class="h-1/2 w-1/2 2xl:h-fit 2xl:w-fit" src="{{ url_for('static',path='/KozylyaevAvatar.svg')}}"/>
                <h4 class="pt-6 text-white text-center">{{ Kozulyaev }}</h4>
                <p class=" text-xs text-white text-center lg:text-base">{{ Kozulyaev_descr }}</p>
            </div>
            <div class="team-member items-center justify-center align-middle flex flex-col">
                <img class="h-1/2 w-1/2 2xl:h-fit 2xl:w-fit" src="{{ url_for('static',path='/KonotopovaAvatar.svg')}}"/>
                <h4 class="pt-6 text-white text-center">{{ Konotopova }}</h4>
                <p class="text-xs text-white z-10 text-center lg:text-base">{{ Konotopova_descr }}</p>
            </div>
            <div class="team-member items-center justify-center align-middle flex flex-col">
                <img class="h-1/2 w-1/2 2xl:h-fit 2xl:w-fit" src="{{ url_for('static',path='/SavelievAvatar.svg')}}"/>
                <h4 class="pt-6 text-white text-center z-10">{{ Saveliev }}</h4>
                <p class=" text-xs text-white z-10 text-center lg:text-base">{{ Saveliev_descr }}</p>
            </div>
            <div class="team-member items-center justify-center align-middle flex flex-col">
                <img class="h-1/2 w-1/2 2xl:h-fit 2xl:w-fit" src="{{ url_for('static',path='/AndreevaAvatar.svg')}}"/>
                <h4 class="pt-6 text-white text-center">{{ Andreeva }}</h4>
                <p class=" text-xs text-white text-center lg:text-base">{{ Andreeva_descr }}</p>
            </div>
            <div class="team-member items-center justify-center align-middle flex flex-col">
                <img class="h-1/2 w-1/2 2xl:h-fit 2xl:w-fit" src="{{ url_for('static',path='/BorschevskiyAvatar.svg')}}"/>
                <h4 class="pt-6 text-white text-center">{{ Borshevsky }}</h4>
                <p class=" text-xs text-white text-center lg:text-base">{{ Borshevsky_descr }}</p>
            </div>
        </div>
        <div class="lg:w-1/2 lg:h-1/2 gradient-bg-blue z-1 absolute left-0 top-0"></div>
        <div class="lg:w-1/2 lg:h-1/2 gradient-bg-pink z-1 absolute right-10"></div>
        <div class="lg:w-1/2 lg:h-1/2 gradient-bg-pink z-1 absolute  bottom-0 right-0 xl:pt-64"></div>
    </section>
    <section id="form_section" class="flex flex-col items-center bg-white z-10 xl:h-2/6">
        <div class="mt-24 xl:ml-32 xl:mr-32 xl:mb-24 flex flex-col">
            <div class="flex flex-col">
                <h3 class="text-black text-xl xl:text-2xl text-center xl:text-left">{{ form_header }} </h3>
                <h4 class="text-black pt-2 mx-auto lg:mx-0">{{ leave_request }}</h4>
            </div>
            <form id="form" name="form" class="hidden lg:grid grid-cols-4 gap-6 pt-6 items-center">
                <p>{{ enter_name }}</p>
                <p>{{ phone_number }}*</p>
                <p>Email*</p>
                <div>{{ Comment }}</div>
                <input id="name" type="text" class="h-10 w-56 2xl:w-72" style="border: 1px solid #DBDBDB;border-radius: 8px;"/>
                <input id="phone" type="tel" required placeholder="+X(XXX)XXX-XX-XX" class="h-10 w-56 2xl:w-72" style="border: 1px solid #DBDBDB;border-radius: 8px;"/>
                <input id="email" type="email" class="h-10 w-56 2xl:w-72" style="border: 1px solid #DBDBDB;border-radius: 8px;"/>
                <input id="comment" type="text" class="h-10 w-56 2xl:w-72" style="border: 1px solid #DBDBDB;border-radius: 8px;"/>
                <button type="submit" onclick="send_form_data()" class="bg-black w-56 h-14" style="border-radius: 32px">
                    <a href="#form_section"></a>
                    <h4  class="text-white text-base">{{ submit }}</h4>
                </button>
            </form>
            <form id="mobile_form" name="form" class="flex mx-auto flex-col lg:hidden mt-20">
                <p class="text-left">{{ enter_name }}</p>
                <input id="name_mobile" type="text" class="h-10 w-56 2xl:w-72" style="border: 1px solid #DBDBDB;border-radius: 8px;"/>
                <p>{{ phone_number }}*</p>
                <input id="phone_mobile" type="tel" required placeholder="+7(xxx)xxx-xx-xx" class="h-10 w-56 2xl:w-72" style="border: 1px solid #DBDBDB;border-radius: 8px;">
                <p>Email*</p>
                <input id="email_mobile" type="email" class="h-10 w-56 2xl:w-72" style="border: 1px solid #DBDBDB;border-radius: 8px;"/>
                <p>{{ Comment }}</p>
                <input id="comment_mobile" type="text" class="h-10 w-56 2xl:w-72" style="border: 1px solid #DBDBDB;border-radius: 8px;"/>
                <button type="submit" onclick="send_form_data()" type="submit" value="Submit" class="bg-black w-56 h-14 mt-10 mb-30" style="border-radius: 32px">
                    <h4  class="text-white text-base">{{ submit }}</h4>
                </button>
            </form>
        </div>
    </section>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="{{ url_for('static',path='/main.js')}}"></script>
            <script type="module">

                import * as THREE from './static/js/three.module.js';
                import { APP } from './static/js/app.js';
                import { VRButton } from './static/js/VRButton.js';

                window.THREE = THREE; // Used by APP Scripts.
                window.VRButton = VRButton; // Used by APP Scripts.

                var canvas_wrapper = document.getElementById('canvas_wrapper')
                let loading_status_wrapper = document.getElementById('loading_status_wrapper')
                if (window.screen.width >= 1700){
                        loading_status_wrapper.style.width = '640px';
                        loading_status_wrapper.style.height = '640px';
                    }
                    else
                    {
                        loading_status_wrapper.style.width = '300px';
                        loading_status_wrapper.style.height = '300px';
                    }
                var loader = new THREE.FileLoader();
                {#loader.load( './static/app.json', function ( text ) {#}

                    var player = new APP.Player();
                    {#player.load( JSON.parse( text ) );#}




                    {#player.play();#}



                {#function (xhr) {#}
                {#    let loading_status = document.getElementById('loading_status')#}
                {#    const node = document.createTextNode((xhr.loaded / xhr.total * 100).toFixed(2) + '% loaded')#}
                {#    loading_status.value= (xhr.loaded / xhr.total * 100)#}
                {#    }#}
                {#);#}





            </script>
</body>
</html>

<style>
.button-gradient {
    position: relative;
    border: 1px solid transparent;
    border-radius: 32px;
    background-clip: padding-box;
    background: black;
}
.button-gradient::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    border: 1px solid;
    background: linear-gradient(99.43deg, #5243FD 7.43%, #8A79F2 59.53%, #B643FD 91.49%);
    content: '';
    z-index: -1;
    border-radius: 32px;
    }
.content{
    overflow: hidden;
    scroll-behavior: smooth;
}
body{
    /*overflow:hidden;*/
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
    scroll-snap-align: center;

}
.gradient-bg-pink {
    width: 656px;
    height: 499px;
    background: rgba(190, 0, 221, 0.2);
    filter: blur(100px);
    transform: rotate(-3.87deg);
}
.gradient-bg-blue {
    width: 450px;
    height: 400px;
    background: rgba(93, 147, 252, 0.2);
    filter: blur(100px);
    align-self: start;
}
/*canvas {*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    max-height: 100vh;*/
/*    max-width: 100vw;*/
/*}*/
canvas{
    justify-self: center;
    {#padding-left: 20rem;#}
    padding: 0;

}
/*.fixed-canvas{*/
/*    position: fixed;*/
/*}*/
.team-member{

}
progress{
    align-self: center;
    justify-self: center;
    margin-top: 5rem;
}
progress[value]::-webkit-progress-bar {
      background-color: #000000;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        color: -webkit-linear-gradient(99.43deg, #5243FD 7.43%, #8A79F2 59.53%, #B643FD 91.49%);
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value]::-webkit-progress-value {
  position: relative;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius:5px;
  background: linear-gradient(99.43deg, #5243FD 7.43%, #8A79F2 59.53%, #B643FD 91.49%);
  animation: animate-stripes 5s linear infinite;
}
p{
    white-space: pre-wrap
}
</style>